extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    script(src="/inc/util.js")
    script(src="/inc/front.js")
    //- script(src="/inc/social.js")

block content

    .row
        .col-md-8.col-md-offset-2

            button.pull-left.btn.btn-default.btn-xs.btn_opts(onclick="window.location.href='/opts'")
                | Настройки
                span.glyphicon.glyphicon-cog(
                    style="margin-left: 4px; position: relative; right: -1px; top: 2px; color: #4a2;" )

            button.pull-right.btn.btn-default.btn-xs.btn_refresh#btn_refresh
                span.glyphicon.glyphicon-refresh(
                    style="margin: 0 6px 0 1px; position: relative; top: 2px;" )
                span.hhmm #{hhmm}

            button.pull-right.btn.btn-default.btn-xs.btn_help(onclick="window.location.href='/help'")
                span.glyphicon.glyphicon-question-sign(
                    style="margin: 0 2px; position: relative; top: 2px; color: #4a2;" )
        .clearfix

        div.text-center(style="margin: 4px;") Автоматическая рассылка в мессенджере Телеграм
          br
          a(href="https://telegram.me/meteo38bot?start=m38",target="_blank")
            b telegram.me/meteo38bot

        .favs.col-md-8.col-md-offset-2#fav_items
            each s in st_list
                - var st = data[s];
                if st
                    //- duplicated in inc/front.coffee
                    .item(id="favst_#{st._id}",data-st="#{st._id}")
                        .data.pull-right
                            .t!= format_t(st.last, st.trends)
                            .w!= format_w(st.last)
                            .p!= format_p(st.last)
                            .clearfix
                        .text
                            .title #{st.title}
                            .descr #{st.descr}
                            .addr  #{st.addr}
                        .graph
                        .clearfix
            script.
                window.fav_ids = !{JSON.stringify(st_list)};
                window.st_data = !{JSON.stringify(data)};
            //-

    .row
        .col-md-8.col-md-offset-2
            #pane_map:   .loading

        //- .b-tabs.col-md-8.col-md-offset-2
            //- .nav.nav-tabs
                //- li: a.tablink(data-pane="graph") График
                    span.glyphicon.glyphicon-stats
                li: a.tablink(data-pane="map"  ) Карта
                    span.glyphicon.glyphicon-map-marker
                li: a.tablink(data-pane="opts" ) Список станций
                    span.glyphicon.glyphicon-list-alt

            //- .tab_pane#pane_graph: .loading
            //- .tab_pane#pane_map:   .loading
            //- .tab_pane#pane_opts:  .loading

//-
