extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    script(src="/inc/util.js")
    script(src="/inc/front.js")
    script(src="/inc/social.js")

block content

    .row
        .col-md-10
            button.pull-right.btn.btn-default.btn-xs.btn_refresh#btn_refresh
                span.glyphicon.glyphicon-refresh(
                    style="margin: 0 6px 0 1px; position: relative; top: 2px;" )
                span.hhmm #{hhmm}
            .clearfix

        .favs.col-md-8.col-md-offset-2#fav_items
            each s in st_list
                - var st = data[s];
                if st
                    //- duplicated in inc/front.coffee
                    .item(id="favst_#{st._id}")
                        .data.pull-right
                            .t!= format_t(st.last, st.trends)
                        .text
                            .title #{st.title}
                            .addr #{st.descr || st.addr}
            script window.fav_ids = !{JSON.stringify(st_list)};

        .social.col-md-8.col-md-offset-2
            //- https://developers.facebook.com/docs/plugins/like-button/
            //- https://vk.com/dev/Like

            div#fb-root
            .pull-right
                .fb-like(
                    data-href="http://meteo38.ru/"
                    data-layout="button" 
                    data-action="like" 
                    data-show-faces="true" 
                    data-share="false"
                )
            .pull-right
                div#vk_like
            .clearfix

    //- .buttons
        | show map

    //- .adv

    //- .mapblock

    hr(style="margin: 9px 0 12px 0") 

    .row
        .b-stations.col-md-8.col-md-offset-2
            button.btn.btn-primary.btn-sm(id="btn_stlist") Метеостанции
                span.glyphicon.glyphicon-cog(
                    style="margin-left: 9px; position: relative; top: 2px;" )

            .stlist(id="stlist")

//-